@font-face {
    font-family: 'BinancePlex';
    src: url('IBMPlexSans-ExtraLight.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background: rgb(245, 245, 245);
    font-family: 'BinancePlex';
    font-weight: 900;
}

.top-batch {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 21, 26);
}

.logo-topBinance {
    color: rgb(240, 185, 11);
    width: 120px;
}

.css-border-divider {
    box-sizing: border-box;
    margin: 0px 8px;
    min-width: 0px;
    width: 1px;
    height: 13px;
    background-color: rgb(183, 189, 198);
}

.iconContainer {
    float: right;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.svgIcon {
    float: left;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    contain: content;
}

.svgIcon:hover {
    float: left;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    contain: content;
    color: rgb(240, 185, 11);
}

.warning-strip {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    background-color: rgb(254, 246, 216);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.stripText {
    font-size: 12px;
}

.lockSvg {
    color: rgb(14, 203, 129);
    font-size: 24px;
    fill: rgb(14, 203, 129);
}

.headingLogin {
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 45px;
    line-height: 40px;
    font-family: 'BinancePlex';
}

.formWrapper {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 0px;
    -webkit-box-pack: start;
    justify-content: center;
}

.formLoginDetails {
    width: 384px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.formLoginDetails form {
    background-color: #fff;
    padding: 30px;
    float: left;
    width: auto;
    min-width: 400px;
    border-radius: 4px;
}

.formWrapperLabelinput {
    box-sizing: border-box;
    margin: 0px 0px 24px;
    min-width: 0px;
    width: 100%;
}

.lineSperate {
    margin: 32px auto;
    width: 100%;
    height: 1px;
    background: rgb(234, 236, 239);
    float: left;
}

.btnLoginQR {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: 600;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(30, 32, 38);
    border-radius: 4px;
    min-height: 24px;
    border: 1px solid rgb(230, 232, 234);
    background-color: transparent;
    padding: 9px 15px;
    box-shadow: none;
    font-size: 14px;
    min-width: 100%;
}

.formWrapperLabel {
    box-sizing: border-box;
    margin: 0px 0px 4px;
    min-width: 0px;
    display: flex;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(30, 35, 41);
    cursor: auto;
    font-family: 'BinancePlex';
}

.formWrapperInput {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    position: relative;
    min-height: 12px;
}

.formWrapperInputDetails {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}

.formWrapperInputDetailsPass {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    margin-top: 20px;
}

.formWrapperInputDetailsPass label {
    font-size: 12px;
    font-family: 'BinancePlex';
    font-weight: 600;
}

.formWrapperInputDetailsMainInput {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    height: 38px;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    flex: 1 1 0%;
}

.formWrapperInputDetailsMainInput input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    outline: none;
    border: none;
    background-color: inherit;
    border-radius: 4px;
    opacity: 1;
    padding: 10px;
}

.errorMsg {
    color: rgb(207, 48, 74);
    font-size: 14px;
    margin-top: 4px;
}

#popupBox {
    background: rgb(0 0 0 / 70%);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#popupBoxMsg {
    width: 40%;
    min-width: 300px;
    height: auto;
    min-height: 75px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 44px;
    color: #d10505;
    font-size: 22px;
    font-weight: 0;
    text-align: center;
}

#popupBoxClose {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 20px;
    right: 20px;
    z-index: 9999;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#click_login_submit {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 7px 24px;
    line-height: 24px;
    font-weight: 600;
    min-width: 80px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    background-color: rgb(240, 185, 11);
    white-space: normal;
    width: 100%;
    font-family: 'BinancePlex';
}

.infoBox {
    color: rgb(30, 32, 38);
    text-align: center;
    margin-top: 22px;
    font-size: 14px;
    margin-bottom: 0px;
}

.inofBoxLine span {
    width: auto;
    padding: 4px 20px;
    background: #fff;
    float: left;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(230, 232, 234);
}

.inofBoxLine span svg {
    margin-right: 10px;
}

.inofBoxLine {
    width: auto;
    padding: 4px 20px;
    /* background: #fff; */
    float: left;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.orButton {
    box-sizing: border-box;
    margin: 16px 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.centerText {
    box-sizing: border-box;
    margin: 0px 24px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(112, 122, 138);
}

.leftLine {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 1px;
    flex: 1 1 0%;
    background-color: rgb(234, 236, 239);
}

.RightLine {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    height: 1px;
    flex: 1 1 0%;
    background-color: rgb(234, 236, 239);
}

.btnSocial {
    margin: 0px;
    appearance: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 12px 24px;
    line-height: 24px;
    min-width: 80px;
    word-break: keep-all;
    min-height: 24px;
    border: none;
    background-color: rgb(234, 236, 239);
    background-image: none;
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(30, 35, 41);
    cursor: pointer;
}

.linkcreateAccount {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(201, 148, 0);
    text-decoration: none;
    margin-top: 20px;
    float: left;
    width: 100%;
    text-align: center;
}

.forgotPass {
    color: rgb(240, 185, 11);
    font-size: 12px;
    text-decoration: underline;
}

.loginText {
    box-sizing: border-box;
    margin: 24px 0px 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.linkQr {
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(71, 77, 87);
}

.textLink {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(201, 148, 0);
    text-decoration: none;
}

.QRDetails {
    margin-left: 126px;
    max-width: 250px;
    box-sizing: border-box;
    float: left;
    min-width: 0px;
    display: flex;
    transform: translateY(-40px);
    min-height: 267px;
    text-align: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.qrImage {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    width: 156px;
    height: 156px;
}

.qrOverlay {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.overlayText {
    box-sizing: border-box;
    margin: 0px 0px 8px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(30, 35, 41);
}

.QRDetails .qrImage .img-wrapper img {
    opacity: 0.04;
}

.img-logo {
    opacity: 1;
    box-sizing: border-box;
    margin: -12px 0px 0px -12px;
    min-width: 0px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 31%;
    padding: 2px;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 24px;
    height: 24px;
}

.btnRefresh {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 6px 12px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(30, 35, 41);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-color: rgb(234, 236, 239);
    background-image: none;
    height: 40px;
    min-width: 106px;
}

#footer {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(71, 77, 87);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.formScreen {
    max-width: 1000px;
}

.footerOne {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 12px 16px;
}

.footerTwo {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.iconContainerRes {
    display: none;
}

.iconContainerRes button {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 6px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    height: 32px;
    border: none;
    background-image: none;
    background-color: rgb(252, 213, 53);
    font-weight: 400;
}

.menuIcon {
    width: 32px;
    height: 27px;
    float: right;
    margin-left: 10px;
}

.sidebarMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #fff;
    z-index: 999;
    display: none;
}

.sidebarMenu ul {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
}

.sidebarMenu ul li {
    box-sizing: border-box;
    margin: 0px 0px 0px 8px;
    min-width: 0px;
    padding: 10px 20px;
    flex: 1 1 0%;
    color: rgb(112, 122, 138);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebarMenu ul li svg {
    width: 34px;
    height: 24px;
}

.crossButtonMenu {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossButtonMenu svg {
    font-weight: 800;
    stroke: #707a89;
}

@media (min-width: 300px) and (max-width: 425px) {
    .formWrapper {
        flex-direction: column;
    }
    .formScreen {
        max-width: 100%;
    }
    .formLoginDetails {
        width: auto;
    }
    .iconContainer {
        display: none;
    }
    .iconContainerRes {
        display: flex;
        float: left;
        width: 100%;
        min-height: 64px;
        justify-content: flex-end;
        align-items: center;
    }
    #footer {
        position: relative !important;
    }
    .QRDetails {
        margin-left: 0px;
        transform: translateY(0px);
    }
    .columnFlexSM {
        flex-direction: column !important;
    }
    .headingLogin {
        margin-top: 50px;
    }
    .formLoginDetails form {
        min-width: auto;
    }
}

.iconInput {
    width: 40px;
    height: 38px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconInput svg {
    fill: #848E9C;
}